<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->

    <!-- <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}> -->
	<link rel="stylesheet" href='../static/css/style.css'}>
	<script src="src/index.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>Sudoku Solver</title>
  </head>
  <body>
	<button onclick="location.href = '/get_grid';" id="resetButton" class="reset-button" >Reset Grid</button>
  	<button onclick="location.href = '/solve_grid';" id="solveButton" class="solve-button" >Solve</button>
	<div id="board">
		<table id="board_table">
		  <caption>Sudoku of the day</caption>
			  <colgroup>
				<col>
				<col>
				<col>
        	  <colgroup>
				<col>
				<col>
				<col>
			  <colgroup>
        		<col>
				<col>
				<col>
			  <!-- <tbody> -->
				<!-- <tr> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
				<!-- <tr> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
				<!-- <tr> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
			<!-- <tbody> -->
				<!-- <tr> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
				<!-- <tr> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
				<!-- <tr> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
			<!-- <tbody> -->
				<!-- <tr> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
				<!-- <tr> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
				<!-- <tr> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
					<!-- <td> -->
				 
		</table>
	</div>
  </body>
</html>
